.buttonsContainer {
    display: flex;
    gap: 30px;
}


.editableSpanContainer {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
    margin-left: 10px;

}